{% render 'partials/head.liquid', title:"vacature" %}
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/stylesheet.css">
<link rel="stylesheet" href="/vacature.css">
{% render 'partials/header.liquid' %}


<main class="vacancie-container">
    <div>
        <a href="/"><img src="../assets/arrow-left.svg">terug naar alle vacatures</a>
        <h2>{{ vacatures.title }}</h2>
        <p>{{ vacatures.locatie }}</p>
    </div>
    <picture>
        <source type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ vacatures.photo }}?height=360&width=482&format=avif">
        <source type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ vacatures.photo }}?height=360&width=482&format=webp">
        <img class="sfeerphoto" src="https://fdnd-agency.directus.app/assets/{{ vacatures.photo }}" width="482" height="367" alt="sfeerfoto">
    </picture>
    <p>{{ vacatures.description | downcase }}</p>
</main>

<aside class="vacancie-info">
    <h2>vacature gegevens</h2>
    

    <dl>
        {% if vacatures.salary %}
            <div>
                <dt>Salaris:</dt> <dd>€{{ vacatures.salary }} per maand</dd>
            </div>
        {% else %}
             <div>
                <dt>Salaris:</dt> <dd>€3500 per maand</dd>
            </div>
        {% endif %}

        {% if vacatures.employment %}
            <div>
                <dt>Dienstverband: </dt>
                <dd>{{ vacatures.employment }}</dd>
            </div>
        {% else %}
            <div>
                <dt>Dienstverband: </dt>
                <dd>Fulltime</dd>
            </div>
        {% endif %}

        {% if vacatures.locatie %}
            <div>
                <dt>Locatie:</dt>
                <dd>{{ vacatures.locatie }}</dd>
            </div>
        {% else %}
            <div>
                <dt>Locatie:</dt>
                <dd>Niet bekend</dd>
            </div>
        {% endif %}

        {% if vacatures.date_posted %}
            <div>
                <dt>Datum geplaatst: </dt>
                <dd>{{ vacatures.date_posted |  date: "%B %d, %Y" }}</dd>
            </div>
        {% else %}
            <div>
                <dt>Datum geplaatst: </dt>
                <dd>Niet bekend</dd>
            </div>
        {% endif %}
        

        <a class="btn" href="vacature/{{ vacature.id }}">Sollicitatie bekijken <img src="../assets/blue-arrow-up.svg"></a>
    <dl> 
</aside>

{% render 'partials/footer.liquid' %}